@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

// nav start
.logo{
    text-decoration: none;
    color: $white;
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    &:hover{
        color: rgba(15, 235, 158, .9);
        transition: .5s;
    }
}
.logo + p{
    font-size: 13px;
    color:rgba(255, 255, 255, .3);
    font-weight: 400;
    margin-bottom: 0px;
    padding: 0px 0px 0px 50px;
    position: relative;
    &:after{
        background: url(../svg/suffix-vertical-logo.svg);
        content: "";
        position: absolute;
        top:9px;
        left:22px;
        width:17px;
        height: 1px;
        transform: rotate(90deg);
    }

}
.bg-color-of-header{
    padding:14px 10px;
    background:rgba(16, 22, 54, 0.2);
    position: absolute;
    z-index: 1;
    width: 100%;
    @include media-breakpoint-up(lg){
        height: 70px;
        position: absolute;
    }
    .menu-font {
        height: 100vh;
        // padding-top:20px;
        background:rgba(27, 173, 122, 0.9);
        margin-top:5px;
        @include media-breakpoint-up(lg){
            height: 70px;
            padding-top:0px;
            margin-top:0px;
            background:transparent;
        }
        
        li{
            text-align: center;
            padding: 15px 0px;
            @include media-breakpoint-up(lg){
                padding: 0px 0px 0px 33px;
            }
            a{
                font-size: 2.5rem;
                display: inline-block;
                @include media-breakpoint-up(lg){
                    border-top:2px solid transparent;
                    font-size: 0.813rem;
                    font-weight: 400;
                    padding-top:35px;
                    &:hover{
                        border-top:2px solid $PictonBlue;
                        transition: .15s;
                    }
                }
            }
        }
        .active{
            @include media-breakpoint-up(lg){
                border-top:2px solid $PictonBlue;
            }
        }
    }
}
// nav end



// slider content start
.custom-slider{
    .slide-1-content{
        background: url(../img/slider-intro-01.png) no-repeat 50%50%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .slide-2-content{
        background: url(../img/slider-intro-02.png) no-repeat 50%50%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .slide-3-content{
        background: url(../img/slider-intro-01.png) no-repeat 50%50%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .splide__arrows{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 173px;
        h1{
            font-size: 48px;
            color: $white;
            font-weight: 200;
            margin-bottom: 0rem;
            line-height: 58px;
            font-size: 40px;
            @include media-breakpoint-up(sm){
                font-size: 56px;
             }
            @include media-breakpoint-up(lg){
                font-size: 62px;
            }
            span{
                font-weight: 700;
            }
        }
        strong{
            margin-bottom: 10px;
            font-size: 34px;
            font-weight: 300;
            color: rgba(255, 255, 255 , .9);
            font-size: 22px;
            @include media-breakpoint-up(sm){
                font-size: 40px;
             }
            @include media-breakpoint-up(lg){
                font-size: 48px;
                
             }
            span{
                color: rgba(15, 235, 158, .9);
            }
        }
        p{
            color: rgba(255, 255, 255 , .9);
            font-size: 14px;
            font-weight: 200;
            margin-bottom: 0rem;
            position: relative;
            @include media-breakpoint-up(sm){
                font-size: 18px;
             }
            &:before{
                // background: url(../svg/suffix.svg);
                // content: "";
                position: absolute;
                top:14px;
                left:-60px;
                // width:28px;
                // height: 1px;
                content: "\e90d";
                color: #0feb9e;
                display: inline-block;
                font-size: 1px;
            }
            &:after{
                // background: url(../svg/suffix.svg);
                // content: "";
                position: absolute;
                top:14px;
                right:-60px;
                // width:28px;
                // height: 1px;
                content: "\e90d";
                color: #0feb9e;
                display: inline-block;
                font-size: 1px;
            }
        }
    }
    .splide__pagination{
        display: none;
        @include media-breakpoint-up(lg){
        position: absolute;
        top: calc(50% - 15px);
        right: 48px;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        height: 53px;
        justify-content: space-between;
        }
        .splide__pagination__page{
            padding:0px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: transparent;
            border: 1px solid #333b3f;
        }
        .is-active{
                background: $white;
                border: 1px solid $white
            }
    }
}
// slider content end


// features start

.bg-color-of-conten{
    background: $AquaHaze;
    padding-bottom: 30px;
    margin-bottom: 30px;
    @include media-breakpoint-up(md){
        padding-bottom: 130px;
        margin-bottom: 87px;
    }
    
    .media-link{
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        margin-top:-70px;
        margin-left: -20px;
        padding-left: 25px;
        @include media-breakpoint-up(lg){
            padding-left: 41px;
            margin-left: 0px;
        }
        li{
            position: relative;
            padding-right: 14px;
            a{
                text-decoration: none;
            }
            .media{
                font-size: 18px;
                color:rgba(255, 255, 255, .3);
                display: inline-block;
                top:0px;
                &:hover{
                    color:$white;
                    transition: .3s;
                }
            }
            .icon-twitter:before{
                content: "\ea96";
            }
            .icon-facebook:before{
                content: "\ea90";
            }
            .icon-googleplus:before{
                content: "\e901";
            }
            .icon-dribbble:before{
                content: "\eaa7";
            }
        }
    }
    .services{
        padding: 30px 0px 75px 0px;
        @include media-breakpoint-up(md){
            padding: 65px 0px 87px 0px;
        }
        
        .caption-features{
            color:$Niagara;
            font-size:28px;
            font-weight: 800;
            letter-spacing: -1px;
            text-transform: uppercase;
            display: inline-block;
            padding-left: 20px;
            .icon-heart{
                position: relative;
                &:before{
                    content: "\e909";
                    display: inline-block;
                    bottom:-38px;
                    left:-78px;
                    position: relative;
                    color:rgba(0, 0, 0, .2);
                    font-size: 14px;
                }
            }
            .heart:before{
                background: url(../svg/suffix-heart.svg);
                bottom:-22px;
                left:-45px;
                display: block;
                position: relative;
                content: "";
                width:90px;
                height: 1px;
            }
            .heart:after{
                background: url(../svg/suffix-heart.svg);
                bottom:-22px;
                left:94px;
                display: block;
                position: relative;
                content: "";
                width:90px;
                height: 1px;
            }
        }
    }
    .features{
        
        span{
            width:40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid  $Niagara;
            display: inline-block;
            position: relative;
            margin:0px 16px 0px 14px;
        }
        strong{
            font-size: 20px;
            color: $BlackPearl;
            font-weight: 600;
        }
        p{
            padding: 3px 5px 5px 70px;
            font-size: 13px;
            color:rgba(6, 32, 51, .7);
            line-height: 21px;
            font-weight: 600;
        }
        .branding:after{
            background: url(../svg/branding-icon.svg) no-repeat;
            top:8px;
            left:12px;
            display: block;
            position: absolute;
            content: "";
            width:22px;
            height: 22px;
        }
        .development:after{
            background: url(../svg/development-icon.svg) no-repeat;
            top:10px;
            left:11px;
            display: block;
            position: absolute;
            content: "";
            width:17px;
            height: 17px;
        }
        .consalting:after{
            background: url(../svg/consulting-icon.svg) no-repeat;
            top:9px;
            left:10px;
            display: block;
            position: absolute;
            content: "";
            width:20px;
            height: 20px;
        }
    }
}
// features end


// works start


.works{
    padding-bottom: 31px;;
    .caption-works{
        color:$Niagara;
        font-size:28px;
        font-weight: 800;
        letter-spacing: -1px;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 20px;
        padding-bottom: 60px;
        .icon-heart{
            position: relative;
            &:before{
                content: "\e909";
                display: inline-block;
                bottom:-38px;
                left:-64px;
                position: relative;
                color:rgba(0, 0, 0, .2);
                font-size: 14px;
            }
        }
        .heart:before{
            background: url(../svg/suffix-heart.svg);
            bottom:-22px;
            left:-61px;
            display: block;
            position: relative;
            content: "";
            width:90px;
            height: 1px;
        }
        .heart:after{
            background: url(../svg/suffix-heart.svg);
            bottom:-22px;
            left:78px;
            display: block;
            position: relative;
            content: "";
            width:90px;
            height: 1px;
        }
    }
    strong{
        display: inline-block;
        padding-bottom: 60px;
    }
    p{
        font-size: 18px;
        color:$BlackPearl;
        font-weight: 600;
        padding: 0px 10px;
        line-height: 24px;
        margin-bottom:0px;
        padding-bottom: 42px;
    }
    .work-links{
        width:auto;
        @include media-breakpoint-up(xl){
            padding-left: 32px;
        }
        
        ul{
            width:100%;
            padding-left: 0px;
            margin-bottom: 0px;
            li{
                list-style: none;
                padding-right: 30px;
                @include media-breakpoint-up(sm){
                    padding-right: 5px;
                }
                @include media-breakpoint-up(md){
                    padding-right: 14px;
                }
                
                a{
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
                    color:$BlackPearl;
                    padding: 10px 18px;
                    display: inline-block;
                    &:hover{
                        padding: 10px 18px;
                        background: #0eb493;
                        border-radius: 5px;
                        color:$white;
                        transition: .3s;
                    }
                }
            }
        }

    }
}
// works end

// images start

.imagination{
    margin-bottom: 30px;
    @include media-breakpoint-up(md){
        margin-bottom: 89px;
    }
    
    .kong,
    .pelican,
    .lake,
    .name-of-something,
    .solders,
    .kopaz,
    .eye,
    .dog{
        position: relative;
        &:hover .second-lay{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .second-lay{
            display: none;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            background: rgba(14, 180, 147, .9);
        }
        span{
            width:40px;
            height:40px;
            border-radius: 50%;
            border:1px solid $white;
            display: block;
            position: relative;
            margin-bottom: 39px;
            &::before{
                background: url(../svg/eye-icon.svg) no-repeat;
                position: absolute;
                top:13px;
                left:7px;
                width: 23px;
                height: 23px;
                content: "";
            }
        }
        strong{
            font-size: 18px;
            line-height: 8px;
            margin-bottom: 19px;
            color:$white;
            
        }
        p{
            font-size: 14px;
            line-height: 10px;
            margin-bottom: 0px;
            color:$white;
        }
    }
    img{
        width:100%;
        height: 100%;
        display: block;
    }
    
}
// our team start
.our-team{
    padding-bottom: 30px;
    @include media-breakpoint-up(xl){
        padding-bottom: 215px;
    }
    .team{
        color:#0eb493;
        font-size:28px;
        font-weight: 800;
        letter-spacing: -1px;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 18px;
        padding-bottom: 58px;
        .icon-heart{
            position: relative;
            &:before{
                content: "\e909";
                display: inline-block;
                bottom:-37px;
                left:-120px;
                position: relative;
                color:rgba(0, 0, 0, .2);
                font-size: 14px;
            }
        }
        .heart:before{
            background: url(../svg/suffix-heart.svg);
            bottom:-22px;
            left:-3px;
            display: block;
            position: relative;
            content: "";
            width:90px;
            height: 1px;
        }
        .heart:after{
            background: url(../svg/suffix-heart.svg);
            bottom:-22px;
            left:137px;
            display: block;
            position: relative;
            content: "";
            width:90px;
            height: 1px;
        }
    }
    p{
        font-size: 18px;
        color:$BlackPearl;
        font-weight: 600;
        padding: 0px 10px;
        line-height: 24px;
        margin-bottom:0px;
        padding-bottom: 40px;
        @include media-breakpoint-up(md){
            padding-bottom: 107px;
        }
        
    }
}

.employee{
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(md){
        margin-bottom: 90px;
    }
    .photo{
        max-width:270px;
        max-height: 300px;
        margin-bottom: 15px;
        cursor: pointer;
        position: relative;
        @include media-breakpoint-up(md){
            min-width:270px;
            min-height: 300px; 
        }
        &:hover .show-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:18px 20px;
            transition: .3s;
        }
        &:hover + strong{
            color: rgb(14, 180, 147);
            transition: .3s;
        }
    }
    strong{
        font-size: 18px;;
        color:$BlackPearl;
        font-weight: 700;
    }
    @include media-breakpoint-up(xl){
        padding-right: 30px;
        margin-bottom: 0px;
    }
    img{
        width:100%;
        height: 100%;
        filter: saturate(0%);
        -webkit-filter: saturate(0%);
        -moz-filter: saturate(0%);
        cursor: pointer;  
    }
    p{
        padding:0px;
        color: rgba(6, 32, 51, .56);
        font-size: 13px;
    }
    .John-Filmr,
    .Chystine-Hineu,
    .Martin-Matrone,
    .Steve-Flaulkin{
        display: none;
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(14, 180, 147, .9);
        transition: .3s;
        strong{
            font-size: 16px;
            color:$white;
            font-weight: 600;
            padding-bottom: 8px;
        }
        p{
            font-size: 16px;
            color:$white;
            font-weight: 400;
            line-height: 24px;
        }
        ul{
            display: flex;
            position: absolute;
            bottom:1px;
            left:39px;
            
            li{
                list-style: none;
                margin-right: 4px;
                a{
                    text-decoration: none;
                    span{
                        width:42px;
                        height: 42px;
                        background: rgba(0, 0, 0, .3);
                        display: inline-block;
                        position: relative;
                    }
                    .twitter:before{
                        content: "\ea96";
                        display: inline-block;
                        bottom:11px;
                        left:11px;
                        position: absolute;
                        color:$white;
                        font-size: 20px;
                    }
                    .twitter:hover:before{
                            color:rgba(14, 238, 193, 0.8);
                            transition: .3s;
                        }
                    .facebook:before{
                        content: "\ea90";
                        display: inline-block;
                        bottom:10px;
                        left:10px;
                        position: absolute;
                        color:$white;
                        font-size: 21px;
                    }
                    .facebook:hover:before{
                            color:rgba(14, 238, 193, 0.8);
                            transition: .3s;
                        }
                    .google-plus:before{
                        content: "\e901";
                        display: inline-block;
                        bottom:7px;
                        left:8px;
                        position: absolute;
                        color:$white;
                        font-size: 24px;
                    }
                    .google-plus:hover:before{
                            color:rgba(14, 238, 193, 0.8);
                            transition: .3s;
                        }
                }
            }
        }
    }
}
// our team end

// statistic start
.bg-statistic{
    width: 100%;
    min-height: 600px;
    background: url(../img/city-filter.png) no-repeat 50%50%;
    background-size: cover;
    padding: 30px 0px;
    margin-bottom: 30px;
    @include media-breakpoint-up(md){
        padding: 88px 0px;
        margin-bottom: 88px;
    }
    
    .facts{
        color:$Niagara;
        font-size:28px;
        font-weight: 800;
        letter-spacing: -1px;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 19px;
        margin-bottom: 52px;
        .icon-heart{
            position: relative;
            &:before{
                content: "\e909";
                display: inline-block;
                bottom:-37px;
                left:-126px;
                position: relative;
                color:$white;
                font-size: 14px;
            }
        }
        .heart:before{
            background: url(../svg/suffix-heart-gray.svg);
            bottom:-22px;
            left:-3px;
            display: block;
            position: relative;
            content: "";
            width:90px;
            height: 1px;            
        }
        .heart:after{
            background: url(../svg/suffix-heart-gray.svg);
            bottom:-22px;
            left:137px;
            display: block;
            position: relative;
            content: "";
            width:90px;
            height: 1px;
        }
    }
    p{
        font-size: 18px;
        color:#062033;
        font-weight: 600;
        padding: 0px 10px;
        line-height: 7px;
        margin-bottom:0px;
    }
}
.info-amount{
    span{
        width:130px;
        height: 130px;
        border-radius: 50%;;
        border: 2px solid rgba(255, 255, 255, .4);
        display:inline-block;
        content: "";
        position: relative;
        margin-bottom: 27px;
    }
    .one-point{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        strong{
            color:$white;
            font-size: 60px;
            font-weight: 700;
        }
        p{
            color:$white;
            font-size: 18px;
            text-transform: uppercase;
            padding-bottom: 50px;
            @include media-breakpoint-up(xl){
                padding-bottom: 0px;
            }
        }
        span:before{
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            width:40px;
            height: 40px;
            background: url(../svg/clock-icon.svg) no-repeat;
            content: "";
        }
    }
    .Hours-of-Work{  
        span:before{
            background: url(../svg/clock-icon.svg) no-repeat;
        }
    }
    .Satisfied-Clinets{
        span:before{
            background: url(../svg/friends-icon.svg) no-repeat;
        }
    }
    .Projects-delivered{
        span:before{
            background: url(../svg/rocket-icon.svg) no-repeat;
        }
    }
    .Awards-Won{
        span:before{
            background: url(../svg/cup-icon.svg) no-repeat;
        }
    }
}

// discuss start
.discuss{
    color:$Niagara;
    font-size:28px;
    font-weight: 800;
    letter-spacing: -1px;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 55px;
    .icon-heart{
        position: relative;
        &:before{
            content: "\e909";
            display: inline-block;
            bottom:-37px;
            left:-104px;
            position: relative;
            color:rgba(0, 0, 0, .2);
            font-size: 14px;
        }
    }
    .heart:before{
        background: url(../svg/suffix-heart.svg);
        bottom:-22px;
        left:-19px;
        display: block;
        position: relative;
        content: "";
        width:90px;
        height: 1px;
    }
    .heart:after{
        background: url(../svg/suffix-heart.svg);
        bottom:-22px;
        left:121px;
        display: block;
        position: relative;
        content: "";
        width:90px;
        height: 1px;
    }
}
p{
    font-size: 18px;
    color:$BlackPearl;
    font-weight: 600;
    padding: 0px 10px;
    line-height: 26px;
    margin-bottom:0px;
    padding-bottom: 30px;
    @include media-breakpoint-up(md){
        padding-bottom: 74px;
    }
    
}
.form-for-comunication{
    .contact{ 
        padding: 0px 10px;
        @include media-breakpoint-up(md){
            padding:0px;
        }
        strong{
            text-align: center;
            font-size: 22px;
            color: $BlackPearl;
            line-height: 32px;
            font-weight: 400;
            padding-bottom: 31px;
            @include media-breakpoint-up(md){
                text-align: left;
            }
        }
        p{
            font-size: 16px;
            color: $Nevada;
            line-height: 24px;
            margin:0;
            padding:0;
            font-weight: 400;
            @include media-breakpoint-up(lg){
                font-size: 13px;
            }
        }
        .info-contacts{
            padding-bottom: 30px;
            @include media-breakpoint-up(md){
                padding-bottom:0px;
            }
            a{
                text-decoration: none;
                color: $Nevada;
                font-size: 16px;
                @include media-breakpoint-up(lg){
                    font-size: 13px;
                }
                &:hover{
                    color:$Black;
                }
            }
        }
    }
    .form > strong{
        font-size: 24px;
        color: $BlackPearl;
        font-weight: 700;
        padding-left: 8px;
        line-height: 27px;
        display: block;
        padding-bottom: 0px;
        @include media-breakpoint-up(lg){
            padding-bottom: 43px;
        }
    }

    ::placeholder{
        color: rgba(91, 100, 110, .5);
        font-size: 13px;
    }
    input:not(input[type="submit"]){
        border:none;
        width:100%;
        font: 400 13px 'Open Sans', sans-serif;
        color: rgba(91, 100, 110, .5);
        line-height: 26px;
        margin-top: 35px;;
        @include media-breakpoint-up(lg){
            margin-top:0px;
        }
        &:focus{
            outline:none
        }
    }
    .blanks{
        margin: 0px 0px 0px;
        @include media-breakpoint-up(lg){
            margin:0px 0px 51px;
        }
        
    }
    .form-text{
        position: relative;
        margin:0px;
            &:before{
                background: url(../svg/suffix-heart.svg);
                bottom:-14px;
                left:7px;
                display: block;
                position: absolute;
                content: "";
                width:99%;
                height: 1px;
                @include media-breakpoint-up(lg){
                    width:95%;
                }
            }
            input{
                padding: 0px;
                margin: 0px 0px 0px 7px;
            }
        
    }
    .form-mail{
        position: relative;
            &:before{
                background: url(../svg/suffix-heart.svg);
                bottom:-14px;
                left:7px;
                display: block;
                position: absolute;
                content: "";
                width:99%;
                height: 1px;
                @include media-breakpoint-up(lg){
                    left:19px;
                    width: 95%;
                }
            }
            input{
                padding:0px;
                margin: 0px 0px 0px 7px;
                @include media-breakpoint-up(lg){
                    margin: 0px 0px 0px 18px;
                }
                
            }
    }
    .form-message{
        position: relative;
        margin-bottom: 47px;
        &:before{
            background: url(../svg/suffix-heart.svg);
            bottom:-14px;
            left:7px;
            display: block;
            position: absolute;
            content: "";
            width:99%;
            height: 1px;
        }
        input{
            margin-left: 7px;
        }
    }
    .buttom-sent{
        input[type="submit"]{
            position: absolute;
            margin-left: -9999px;
        }
        strong{
            font-size: 16px;
            font-weight: 600;
            position: relative;
            cursor: pointer;
            margin-left: 20px;
            &::before{
                content: "\e90a";
                color: $Niagara;
                top:4px;
                left:-34px;
                font-size:16px;
                display: inline-block;
                position: absolute;
            }
            &:hover{
                color: rgba(91, 100, 110, .9);
            }
        }
    }
    .media-links{
        ul{
            display:flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding:14px 0px 0px 6px;
            margin:0px;
            @include media-breakpoint-up(lg){
                flex-direction: column;
                align-items: center;
            }
            li{
                list-style: none;
                padding-right: 70px;
                padding-top:20px;
                @include media-breakpoint-up(lg){
                    padding:0px 0px 44px 0px;
                }
                a{
                    text-decoration: none;
                    position: relative;
                }
            }
        }
        .unite:before{
            color: rgba(6, 32, 51, .2);
            top:0px;
            left:0px;
            font-size:24px;
            display: inline-block;
            position: absolute;
        }
        .icon-twitter-media::before{
            content: "\ea96";
        }
        .icon-twitter-media:hover::before{
            color: rgb(0, 172, 237);
            transition: .3s;
            }
        .icon-dribbble-media::before{
            content: "\eaa7";
        }
        .icon-dribbble-media:hover::before{
            color: rgb(234, 76, 137);
            transition: .3s;
            }
        .icon-forrst-media:before {
            content: "\e907";
        }
        .icon-forrst-media:hover::before{
            color: rgb(5, 153, 17);
            transition: .3s;
            }
        .icon-googleplus-media::before{
            content: "\e901";
        }
        .icon-googleplus-media:hover::before{
            color: rgb(221, 75, 57);
            transition: .3s;
        }
        .icon-behance-media:before {
            content: "\eaa8";
        }
        .icon-behance-media:hover:before{
            color: rgb(5, 62, 255);
            transition: .3s;
        }

    }
}
.class-for-pad{
    padding-bottom: 70px;
    @include media-breakpoint-up(lg){
        padding-bottom: 105px;
    }
    
}
// discuss end

// map start
.bg-map{
    background: url(../img/map-bg.png) no-repeat 50%50%;
    background-size: cover;
    min-height: 215px;
}
// map end

// footer start
.bg-footer{
    background: rgb(30, 167, 141);
    border-top: 5px solid #062033;
    padding:30px 10px 30px;
    @include media-breakpoint-up(xl){
        padding:86px 0px 125px;
    }
    
    .items{
        padding-bottom: 29px;
        .footer-logo{
            padding-right: 15px;
            p{
                font-size: 15px;
                font-weight: 400;
                color:$white;
                line-height: 24px;
                padding:0px 0px 25px 0px;
                @include media-breakpoint-up(xl){
                    font-size: 13px;
                    padding:0px;
                }
            }
            h1{
                margin:0px;
                display: inline-block;
                padding-bottom: 15px;
                @include media-breakpoint-up(xl){
                    padding-bottom:29px;
                }
            }
            a{
                text-decoration: none;
                color: $white;
                font-family: 'Pacifico', cursive;
                font-size: 28px;
                &:hover{
                    color: rgba(15, 235, 158, .9);
                    transition: .5s;
                }
            }
        }
        .subscribe{
            padding:0px;
            @include media-breakpoint-up(xl){
                padding: 8px 15px 5px 7px;
            }
            input[type="text"]{
                width:100%;
                border: 2px solid $white;
                background: rgb(30, 167, 141);
                font: 400 13px 'Open Sans', sans-serif;
                color: $white;
                padding: 0px 45px 0px 5px;
                border-radius: 5px;
                line-height: 43px;
                margin-bottom: -7px;
                &:focus{
                    outline: none;
                    border-color: rgba(255, 255, 255 , .8);
                }
            }
            input[type="submit"]{
                position: absolute;
                margin-left: -9999px;
            }
            form{
                position: relative;
            }
            .arrow-send:before{
                content: "\e90c";
                color: rgb(176, 224, 215);
                top:17px;
                right: 19px;
                font-size: 14px;
                display: block;
                position: absolute;
                cursor: pointer;
            }
            p{
                font-size: 15px;
                font-weight: 400;
                color:$white;
                line-height: 24px;
                padding:0px 0px 25px 0px;
                @include media-breakpoint-up(xl){
                    font-size: 13px;
                    padding:0px;
                }
            }
        strong{
            font-size: 18px;
            font-weight: 600;
            color:rgba(255, 255, 255 , .8);
            display: inline-block;
            padding-bottom:15px;
            @include media-breakpoint-up(xl){
                padding-bottom:42px;
                font-size: 14px;
            }
        }
    }
    .explore{
        padding-left: 0px;
        @include media-breakpoint-up(xl){
            padding-left: 17px;
        }
        strong{
            font-size: 18px;
            font-weight: 600;
            padding-bottom:15px;
            color:rgba(255, 255, 255 , .8);
            display: inline-block;
            @include media-breakpoint-up(xl){
                padding-bottom:33px;
                font-size: 14px;
            }
        }
        .main-list-footer{
            display: flex;
            flex-direction: row;
            padding:0px 0px 25px 0px;
            margin:0px;
            @include media-breakpoint-up(xl){
                padding:0px 0px 0px 0px;
            }
            li{
                list-style: none;
                padding-right: 10px;
            }
            .list-column{
                padding: 0px 21px 0px 0px;
                margin:0px;
                li{
                    list-style: none;
                    padding-bottom: 8px;;
                    a{
                        font-size: 13px;
                        text-decoration: none;
                        color:$white;
                        &:hover{
                            color: rgba(255, 255, 255 , .8);
                        }
                    }
                } 
            }         
        }
    }
}
 .info-owner{
    //  padding:20px 0px 0px;
     text-align: center;
        @include media-breakpoint-up(md){
            text-align: left;
        }
         @include media-breakpoint-up(xl){
            padding-left: 41px;
        }
        .line{
            position:relative;
            &:before{
                background: url(../svg/suffix-vertical-logo.svg);
                content: "";
                position: absolute;
                // top:24px;
                // left:-32px;
                width:39px;
                height: 1px;
                transform: rotate(90deg);
                display: none;
                @include media-breakpoint-up(sm){
                    display: block;
                    top:24px;
                    left:-2px;
                }
                @include media-breakpoint-up(md){
                    top:24px;
                    left:-32px;
                }
            }
        }
        p{
            font-size: 13px;
            font-weight: 400;
            color:$white;
            line-height: 24px;
            padding:0px 0px 48px 0px;
            position:relative;
            a{
                text-decoration: none;
                color:rgb(6, 32, 51);
                &:hover{
                    color: rgba(6, 32, 51, .7)
                }
            }
            &:last-child{
                padding-bottom: 0px;
            }
        }
        .heart-footer{
            position: relative;
            display: inline-block;
            width: 37px;
            &::before{
                content: "\e909";
                display: block;
                left:9px;
                top:-13px;
                font-size: 15px;
                color: rgba(0, 0, 0, .3);
                position: absolute;
            }
            
        }
    }
}

// footer end
