@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?8b3mr9') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"],
.icon-twitter:before,
.icon-facebook:before,
.icon-googleplus:before,
.icon-dribbble:before,
.icon-heart:before,
.twitter:before,
.facebook:before,
.google-plus:before,
.buttom-sent strong:before,
.icon-twitter-media::before,
.icon-dribbble-media::before,
.icon-forrst-media:before,
.icon-googleplus-media::before,
.icon-behance-media:before,
.content p:before,
.content p:after,
.arrow-send:before,
.heart-footer::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-branding-icon:before {
  content: "\e900";
  color: #0eb493;
}
.icon-clock-icon:before {
  content: "\e902";
  color: #fff;
}
.icon-consulting-icon:before {
  content: "\e904";
  color: #0eb493;
}
.icon-cup-icon:before {
  content: "\e903";
  color: #fff;
}
.icon-development-icon:before {
  content: "\e905";
  color: #0eb493;
}
.icon-eye-icon:before {
  content: "\e906";
}
.icon-forrst-icon:before {
  content: "\e907";
}
.icon-friends-icon:before {
  content: "\e908";
  color: #fff;
}
.icon-heart:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
  color: #0eb493;
}
.icon-rocket-icon:before {
  content: "\e90b";
  color: #fff;
}
.icon-search-arrow:before {
  content: "\e90c";
  color: #fff;
}
.icon-suffix:before {
  content: "\e90d";
  color: #0feb9e;
}
.icon-suffix-heart:before {
  content: "\e90e";
  color: #dce1e5;
}
.icon-suffix-vertical-logo:before {
  content: "\e90f";
  color: #154457;
}
.icon-googleplus:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
